# See http://help.github.com/ignore-files/ for more about ignoring files.

# macOS
.DS_Store

# compiled output
/dist
/tmp
/build
/logs

# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

# dependencies
/node_modules
/bower_components
/bower_components/
/node_modules/
logs
/build/
/docs/
/_input-files/
yarn.lock

# misc
/.sass-cache
/connect.lock
coverage
/libpeerconnection.log
npm-debug.log
testem.log
/docs
/release
yarn-error.log
